.html {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#878d7b, #abf5f5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 15px;
  /* background-color: #aa3939; */
  border-radius: 5px;
}

.game-controller {
  margin-bottom: 15px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* background: #000000; */
}

.game-controller button {
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 5px;
  width: 80px;
  background-color: #d4ee9f;
  color: #003333;
  /* outline: none; */
  cursor: pointer;
  margin: 5px;
}
.game-controller span {
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  /* margin: auto 0; */
  margin: 5px;
}

.game-controller button:focus-visible {
  color: #d4ee9f;
  background-color: #003333;
}
.game-controller button:hover {
  color: #d4ee9f;
  background-color: #003333;
}

.game-matrix {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-matrix div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.game-matrix button {
  width: 60px;
  height: 60px;
  flex-wrap: wrap;
  margin: 5px;
  background-color: #cfcfcf;
  color: #003333;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #000000;
  cursor: pointer;
  border-radius: 10px;
}
#correctCell{
  background-color: #d4ee9f;
}
#game-matrix-overlay {
  height: 280px;
  width: 280px;
  position: absolute;
  background-color: #d4ee9f;
  opacity: 80%;
  color: #003333;
  font-size: 400%;
  text-align: center;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 15px;
}
button:focus-visible {
  box-shadow: 0 0 1px 4px #e8d450;
}
div:focus-visible {
  box-shadow: 0 0 1px 4px #e8d450;
}
.game-matrix button:focus-visible {
  /* color: #000000; */
  box-shadow: 0 0 1px 4px #e8d450;
}

.game-footer {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .game-matrix button {
    width: 80px;
    height: 80px;
    border-radius: 20px;
  }
  #game {
    width: 550px;
  }
  .game-controller {
    flex-direction: row;
  }
  #game-matrix-overlay {
    height: 350px;
    width: 350px;
    font-size: 500%;
  }
}